body {
    font-family: 'Inter', sans-serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'Playfair Display', serif;
}


ul,
li {
    display: block;
    padding: 0;
    margin: 0;
    border: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    border: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: all 0.6 ease;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 64px;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 36px;
}


.menu,
#sidebar-wrapper,
.menu-toggle,
.fa {
    display: none;
}

.header {
    margin-top: 10vh;
    margin-bottom: 25vh;


}

.btn {
    display: none;
}

.nav-tabs {
    list-style: none;
    border: none;
}

.nav-tabs__item {
    list-style: none;
    border: none;
}

.nav-tabs__link {
    text-decoration: none;
    border: none;
    color: #b8becd;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.nav-tabs__link:hover {
    text-decoration: none;
    opacity: 0.6;
    color: #b8becd;
}

.nav-tabs__link:active {
    color: #202336;
    text-decoration: none;
}


.nav-tabs__link.user-login {
    border: 2px solid #fb8f1d;
    border-radius: 5px;
    padding: 10px 40px;
    color: #fb8f1d;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: all 0.6 ease;
}

.nav-tabs__link.user-register {
    background-color: #fb8f1d;
    border-radius: 5px;
    padding: 12px 42px;
    color: #fff;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: all 0.6 ease;
}





.offer {
    margin-top: 79px;
}

.offer-info {}

.offer-info__title {
    margin-top: 40px;
    margin-bottom: 70px;
}

.offer-info__subtitle {
    margin-bottom: 70px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 22px;
}

.form {}

.form-select {
    margin-right: 2vw;
    margin-bottom: 2vh;
    outline: none;
}

.form-select:nth-child(2n) {
    margin-right: 0;
}

.form-input {}

form {
    outline: none;
}

select {
    outline: none;
    width: 16vw;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #afb0b9;
    padding: 2vh 2vw;
    padding-right: 2.5vw;
    border-radius: 5px;
    border: 2px solid rgba(196, 196, 196, 0.3);
    box-shadow: 0px 4px 4px 0px rgba(175, 176, 185, 0.25);
    background-color: #fff;

}

select:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: all 0.6 ease;
}

select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
  }
  
  /* For IE10 */
  select::-ms-expand {
    display: none;
  }




.form-btn {
    text-decoration: none;
    border: none;
    outline: none;
    display: inline-block;
    background-color: #fb8f1d;
    border-radius: 5px;
    padding: 2vh 4vw;
    color: #fff;
    margin-top: 6vh;
    outline: none;
    border: none
}

.form-btn:hover {
    text-decoration: none;
    border: none;
    opacity: 0.6;
    color: #fff;


}

.form-btn:active {
    text-decoration: none;
    border: none;
    opacity: 0.3;
    color: #fff;


}




.explore {
    margin-bottom: 25vh;
}

.explore-info {
    margin-left: 10vw;
}

.explore-info__title {
    margin-top: 18vh;


}


.explore-info__text {
    margin-top: 6vh;
    font-family: 'Mulish', sans-serif;
    font-weight: 200;
    font-size: 17px;
    color: #7d7987;
    margin-bottom: 6vh;

}

.explore-info__btn {
    text-decoration: none;
    background-color: #fb8f1d;
    border-radius: 5px;
    padding: 12px 42px;
    color: #fff;
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.03em;


}

.explore-info__btn:hover {
    text-decoration: none;
    color: #fff;
    opacity: 0.6;
}

.explore-info__btn:active {
    text-decoration: none;
    color: #fff;
    opacity: 0.3;
}

.destination {}


.destination-info {
    margin-bottom: 2vh;
}

.destination-info__title {}


.destination-info__link {
    color: #fb8f1d;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;

}

.destination-info__link:hover {
    text-decoration: none;
    color: rgba(251, 143, 29, 0.6);
}


.gallery {
    margin-bottom: 25vh;
}

.gallery__link {
    text-decoration: none;

}

.gallery__link:hover {
    text-decoration: none;
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: all 0.8s ease-in;
}

.gallery__link-photo {}

.gallery__link-name {
    margin-top: -10vh;
    text-decoration: none;
    flex-direction: column;
    margin-left: 0.5vw;

}

.gallery__link-name:hover {
    text-decoration: none;
}

.gallery__link-city {
    color: #042521;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-top: 1vh;

}

.gallery__link-country {
    color: #80918e;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-top: -2vh;

}



.guides {
    margin-bottom: 25vh;
}


.guides-info__title {
    margin-top: 18vh;

}


.guides-info__text {
    margin-top: 6vh;
    font-family: 'Mulish', sans-serif;
    font-weight: 200;
    font-size: 17px;
    color: #7d7987;
    margin-bottom: 6vh;
    width: 25vw;

}

.guides-info__btn {
    text-decoration: none;
    background-color: #fb8f1d;
    border-radius: 5px;
    padding: 12px 42px;
    color: #fff;
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.03em;


}


.guides-info__btn:hover {
    text-decoration: none;
    color: #fff;
    opacity: 0.6;
}

.guides-info__btn:active {
    text-decoration: none;
    color: #fff;
    opacity: 0.3;
}


.testimonials {
    margin-bottom: 25vh;
}

.testimonials-info {}

.testimonials-info__title {
    margin-bottom: 20vh;
}

.testimonials-info img {
    margin-bottom: 2vh;
}

.testimonials-info__text {
    width: 36vw;
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #000;
}

.testimonials-info__name {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 22px;

}

.testimonials-info__note {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: -1.5vh;

}



.stories {
    margin-bottom: 25vh;
}

.stories-info {
    margin-bottom: 2vh;
}

.stories-info__title {}


.stories-info__link {
    color: #fb8f1d;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 600;

}

.stories-info__link:hover {
    text-decoration: none;
    color: rgba(251, 143, 29, 0.6);
}

.stories-info__link:active {
    text-decoration: none;
    color: rgba(251, 143, 29, 0.3);
}


.stories-list {
    margin-top: 10vh;
    justify-content: space-between;
}

.stories-list__item {
    flex-direction: column;
    width: 20vw;
}


.stories-list__item img {
    height: 40vh;

}

.stories-list__item-photo {}

.stories-list__item-text {
    margin-top: 10vh;
}

.stories-list__item-desc {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;

}

.stories-list__item-btn {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #fb8f1d;
    text-decoration: none;

}

.stories-list__item-btn:hover {
    color: rgba(251, 143, 29, 0.6);
    text-decoration: none;
}

.stories-list__item-btn:active {
    color: rgba(251, 143, 29, 0.3);
    text-decoration: none;
}

.footer {
    background-color: #f9f9fb;
    padding-top: 8vh;
    padding-bottom: 6vh;
}



.footer-info {}

.footer-info__logo {
    margin-bottom: 3vh;
}

.footer-info__text {
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: #848484;
    margin-bottom: 6vh;
    width: 25vw;

}

.footer-info__rights {
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    font-weight: 200;
    color: #848484;

}

.footer-list {
    margin-top: 2vh;

}

.footer-list__item {
    margin-bottom: 1vh;

}

.footer-list__item:last-child {
    margin-bottom: 0;
}

.footer-list__item.title {
    font-family: 'Mulish', sans-serif;
    font-size: 19px;
    font-weight: 600;
    color: #000;
    margin-bottom: 3vh;

}

.footer-list__item-link {
    text-decoration: none;
    color: #848484;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 200;


}

.footer-list__item-link:hover {
    text-decoration: none;
    color: #848484;
    opacity: 0.6;

}

.footer-list__item-link:active {
    text-decoration: none;
    color: #848484;
    opacity: 0.3;


}


.footer-social {
    margin-top: 2vh;

    border-top: 1px solid #e5e5e6;
    padding-top: 4vh;
}





@media screen and (max-width: 1199px) {
    .explore-info {
        margin-left: 20vw;
    }

    .offer__hero {
        width: 60vw;
    }
}


@media screen and (max-width: 992px) {

    select {
        outline: none;
        width: 16vw;
        font-size: 15px;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        color: #afb0b9;
        padding: 2vh 2vw;
        padding-right: 4.5vw;
        border-radius: 5px;
        border: 2px solid rgba(196, 196, 196, 0.3);
        box-shadow: 0px 4px 4px 0px rgba(175, 176, 185, 0.25);
        background-color: #fff;

    }

    .gallery {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .gallery__link:not(:first-child) {
        display: none;
    }

    .offer__hero {
        width: 70vw;
    }

    .explore-info {
        order: 1;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .explore img {
        width: 70vw;
    }

    .explore-img {
        order: 2;
    }


    .guides-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .guides-info__text {
        width: 60vw;
    }

    .guides img {
        width: 70vw;
    }

    .testimonials-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .testimonials-info__text {
        width: 70vw;
    }

    .testimonials__photo {
        margin-left: 15vw;
        width: 50vw;
    }

    .stories-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .stories-list__item {

        width: 50vw;
        margin-bottom: 12vh;
    }

    .stories-list__item img {

        height: 90vh;
    }


    .stories-list__item-desc {

        font-size: 20px;


    }

    .stories-list__item-btn {

        font-size: 20px;


    }




}


@media screen and (max-width: 767px) {
    .stories-list__item {

        width: 40vw;
        margin-bottom: 8vh;
    }

    .stories-list__item img {

        height: 50vh;
    }



    .form-btn {
        padding: 2vh 10vw;
    }

    .nav-tabs__item {
        display: none;
    }

    .nav,
    #sidebar-wrapper,
    .menu-toggle,
    .fa {
        display: block;
    }

    /* Side Menu */
    #sidebar-wrapper {
        position: fixed;
        z-index: 2;
        right: 0;
        width: 20vw;
        height: 60vh;
        transition: all 0.4s ease 0s;
        transform: translateX(250px);
        background: rgba(116, 214, 51, 0.6);
        border-left: 1px solid rgba(255, 255, 255, 0.1);
    }

    .sidebar-nav {
        position: absolute;
        top: 0;
        width: 250px;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .sidebar-nav li.sidebar-nav-item a {
        display: block;
        text-decoration: none;
        color: #fff;
        padding: 15px;
    }

    .sidebar-nav li a:hover {
        text-decoration: none;
        color: #fff;
        background: rgba(255, 255, 255, 0.2);
    }

    .sidebar-nav li a:active,
    .sidebar-nav li a:focus {
        text-decoration: none;
    }

    .sidebar-nav>.sidebar-brand {
        font-size: 1.2rem;
        background: rgba(52, 58, 64, 0.1);
        height: 80px;
        line-height: 50px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
    }

    .sidebar-nav>.sidebar-brand a {
        color: #fff;
    }

    .sidebar-nav>.sidebar-brand a:hover {
        color: #fff;
        background: none;
    }

    #sidebar-wrapper.active {
        right: 250px;
        width: 250px;
        transition: all 0.4s ease 0s;
    }

    .menu-toggle {
        position: fixed;
        right: 15px;
        top: 15px;
        text-align: center;
        text-decoration: none;
        background: transparent;
        line-height: 50px;
        z-index: 999;
    }

    .menu-toggle:focus,
    .menu-toggle:hover {
        text-decoration: none;
        opacity: 0.6;
    }

    .menu-toggle:hover {}

    .fa-bars {
        color: #fb8f1d;
    }

    .fa {
        margin-right: 2vw;
    }




.offer-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offer-info__title {
    margin-top: 40px;
    margin-bottom: 70px;
    text-align: center;
}

.offer-info__subtitle {
    margin-bottom: 70px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 22px;
}

.form {}

.form-select {
    margin-right: 0;
    margin-bottom: 2vh;
    margin-left: 0;
    outline: none;
    margin: 0;
}




form {
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

select {
    outline: none;
    width: 50vw;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    padding-right: 0;

}

.form-select {
    margin-bottom: 2vh;
}

select:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: all 0.6 ease;
}



.form-btn {
    text-decoration: none;
    border: none;
    outline: none;
    display: inline-block;
    background-color: #fb8f1d;
    border-radius: 5px;
    padding: 2vh 4vw;
    color: #fff;
    margin-top: 6vh;
    outline: none;
    border: none
}

.form-btn:hover {
    text-decoration: none;
    border: none;
    opacity: 0.6;
    color: #fff;


}

.form-btn:active {
    text-decoration: none;
    border: none;
    opacity: 0.3;
    color: #fff;


}


}

@media screen and (max-width: 575px) {}